.left-header:hover {
    transform: rotate(2deg);
}

.right-header {
    a:hover {
        text-decoration: underline white;
        transform: rotate(2deg);
    }
}

h4 {
    span:hover {
        font-size: 1.35vw;
    }
}

.navbar-footer {
    a:hover {
        color: white;
        transform: rotate(2deg);
    }
}

.global-input:focus {
    border-radius: 0.4vw;
}

.hero-search:focus {
    border-radius: 0.4vw;
}

.small-search-bar:focus {
    border-radius: 0.4vw;
}