body {
    margin: 0;
    display: flex;
    background-color: #222B2D;
    align-items: center;
    flex-direction: column;
}

.main-page {
    background-image: url("../images/SBO.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.CBO-page {
    background-image: url("../images/CBO-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.AFGAN-page {
    background-image: url("../images/AFGAN-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    width: 86.66vw;
    height: 7vw;
    background-color: transparent;
    display: flex;
    justify-content: space-between;

    .left-header {
        transition: 0.3s;
        align-self: center;

        a {
            text-decoration: none;
            cursor: pointer;

            margin: 0;
            font-size: 1.9vw;
            font-family: "Bebas Neue", sans-serif;
            font-weight: bold;
            color: white;
        }
    }

    .right-header {
        display: flex;
        height: 100%;
        width: 44.2vw;
        align-items: center;
        justify-content: space-between;

        a {
            transition: 0.3s;
            text-decoration: underline transparent;
            font-size: 1.3vw;
            font-family: "Montserrat", sans-serif;
            font-weight: normal;
            color: white;
        }

        .authorize-button {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3vw;
            font-weight: bold;
            color: white;
            width: 16.3vw;
            cursor: pointer;
            height: 3.17vw;
            border-radius: 0.1vw;
            background-color: #DB2315;
        }

        .authorize-button:hover {
            border-radius: 0.4vw;
            text-decoration: none;
            background-color: #dd4c3f;
        }

        img {
            width: 4.16vw;
            height: 4.16vw;
        }
    }
}

.hello-message {
    text-align: center;
    margin-top: 13vw;
    font-size: 3.33vw;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.header-line {
    width: 100%;
    height: 0.3vw;
    border-bottom: 1px solid white;
}

.global-input {
    transition: 0.3s;
    width: 46.7vw;
    height: 5.41vw;
    background-color: white;
    background-image: url("../images/search-icon.png");
    background-size: 2vw;
    padding-left: 2.5vw;
    font-size: 1.3vw;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    background-repeat: no-repeat;
    background-position: 96%;
    outline: none;
    border: none;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

h4 {
    font-size: 1.3vw;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;

    span {
        cursor: pointer;
        transition: 0.3s;
        font-weight: bold;
        text-decoration: underline white;

        a {
            color: white;
        }
    }
}

.persons {
    margin-top: 20vw;
    width: 86.66vw;
    height: 64.5vw;
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
        font-size: 2.5vw;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        color: white;
    }
}

h3 {
    font-weight: normal;
    font-size: 1.87vw;
    font-family: "Montserrat", sans-serif;
    color: white;
    width: 86.66vw;
    text-align: center;
    line-height: 2.5vw;
}

.mapa {
    width: 86.66vw;
    height: 36.45vw;
    background-color: black;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 7vw;
    width: 100%;
    align-items: center;
    height: 34.16vw;
    justify-content: center;
    background-color: #192426;

    img {
        margin-top: 2vw;
        width: 7.8vw;
        height: 9vw;
    }

    h1 {
        margin-top: 0.6vw;
        text-align: center;
        font-size: 1.9vw;
        font-family: "Bebas Neue", sans-serif;
        font-weight: bold;
        color: white;
    }

    .navbar-footer {
        margin-top: 1.7vw;
        width: 66.5vw;
        display: flex;
        justify-content: space-between;

        a {
            cursor: pointer;
            transition: 0.3s;
            font-size: 1.87vw;
            font-family: "Montserrat", sans-serif;
            font-weight: normal;
            color: rgba(255, 255, 255, 75%);
            text-decoration: none;
        }
    }

    h6 {
        width: 42.08vw;
        text-align: center;
        font-size: 1.04vw;
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        color: rgba(255, 255, 255, 70%);
    }
}

.hero-search {
    transition: 0.3s;
    width: 86.66vw;
    height: 4.37vw;
    background-color: #465D62;
    padding-left: 2vw;
    font-size: 1.2vw;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: white;
    border: none;
    outline: none;
    margin-top: 1.5vw;
}

.hero-search::placeholder {
    color: white;
}

.words-bar {
    width: 86.66vw;
    height: 6.56vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.word {
    transition: 0.3s;
    width: 2.8125vw;
    height: 2.8125vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #465D62;
    font-size: 1.25vw;
    margin-bottom: 0;
    margin-top: 1.18vw;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-right: 1.18vw;
}

.title {
    font-size: 3.33vw;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 3vw;
}

.heroes {
    background-color: black;
    width: 86.66vw;
    height: 101vw;
}

.used {
    background-color: #78a7b1;
    transition: 0.3s;
}

.contact-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin-top: 6.5vw;
        margin-bottom: 3vw;
        font-size: 2.5vw;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: white
    }

    h2 {
        font-size: 1.66vw;
        font-weight: normal;
        font-family: "Montserrat", sans-serif;
        color: white;
        margin-bottom: 1vw;
    }
}

h1 {
    font-size: 3.33vw;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 4vw;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

.small-search-bar {
    transition: 0.3s;
    width: 42vw;
    height: 4.37vw;
    background-color: #465D62;
    padding-left: 2vw;
    font-size: 1.2vw;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: white;
    border: none;
    outline: none;
}

.tiny-bar {
    width: 27.8vw;
}

.small-search-bar::placeholder {
    color: white;
}

.inputs {
    width: 86.66vw;
    height: 25.46vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.your-data {
    height: 16.25vw;
}

.string-of-inputs {
    width: 100%;
    height: 4.37vw;
    display: flex;
    justify-content: space-between;
}

.submit-search {
    width: 39.0625vw;
    height: 4.87vw;
    background-color: #DB2315;
    border: solid 0.1vw black;
    outline: none;
    color: white;
    font-size: 1.9vw;
    font-weight: 550;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-s {
    padding-top: 1.4vw;
}

.submit-search1 {
    border: none;
    width: 14.3229vw;
    height: 2.8250vw;
    background-color: #DB2315;
    outline: none;
    color: white;
    font-size: 1.3542vw;
    font-weight: 550;
    font-family: "Montserrat", sans-serif;
}

.au-frm {
    max-width: 39.0625vw;
    padding-top: 9.5vw;
    text-align: center;
}

.elk_img {
    width: 12.51vw;
    height: 4.94791vw;
    padding-top: 0.5vw;
}

.au-f {
    width: 39.0625vw;
    height: 27.3958vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.au-ff {
    max-width: 34.1146vw;
    width: 100%;
}

.login-separator {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1vw 0;
}

.login-separator .line {
    flex: 1;
    height: 0.05211vw;
    background-color: black;
}

.login-separator .text {
    margin: 0 1.6508vw;
    color: black;
    font-size: 1.05vw;
    font-family: "Montserrat", sans-serif;
}

.lpa {
    display: flex;
    flex-direction: column;

    input {
        margin-top: 1vw;
        height: 3.64081vw;
        border: 0vw;
        outline: 0.1563vw solid rgba(34, 43, 45, 0.5);
        outline-offset: -0.1563vw;
        font-size: 1.25vw;
        font-family: "Montserrat", sans-serif;
    }

    input::placeholder {
        color: rgba(34, 43, 45, 0.5);
        font-size: 1.25vw;
        font-family: "Montserrat", sans-serif;
    }

    input[type=text] {
        padding: 0 2vw;
    }

    input[type=password] {
        padding: 0 2vw;
        font-size: 1.25vw;
    }
}

h2 {
    margin-top: 3vw;
    width: 86.66vw;
    font-size: 2.08vw;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-bottom: 3vw;
}

.add-or-check {
    width: 86.66vw;
    display: flex;
    margin-top: 5vw;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin: 0;
        width: 40vw;
        font-size: 2.08vw;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        color: white;
    }

    h2 {
        margin: 0;
        width: 25vw;
        text-align: right;
        font-weight: 650;
        font-family: "Montserrat", sans-serif;
        font-size: 1.25vw;
        color: white;
    }
}

.ppl-img {
    width: 57.28vw;
    height: 44.4vw;
    display: flex;
    margin-top: 7vw;

    img {
        width: 28.28vw;
        height: 44.4vw;
    }
}

.boec {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;


    h1 {
        margin-top: 6vw;
        text-align: center;
        padding-left: 0.4vw;
        padding-right: 0.4vw;
        font-family: "Bebas Neue", sans-serif;
        font-size: 3.6vw;
        font-weight: bold;
        color: white;
        border: 0.6vw solid white;
    }

    h2 {
        width: 77.6vw;
        font-family: "Montserrat", sans-serif;
        font-size: 1.6vw;
        font-weight: normal;
        color: white;
        text-align: center;
    }
}

.img-boec {
        width: 9.7vw;
        height: 18.6vw;
    }

.dispno {
    display: none;
}