<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <title>Книга памяти Оренбургской области</title>
</head>
<body class="main-page">
<header>
    <div class="left-header button-hover-effect">
        <a href="#">КНИГА ПАМЯТИ</br> ОРЕНБУРГСКОЙ ОБЛАСТИ</a>
    </div>
    <div class="right-header">
        <a href="{{ url_for('hero_search') }}">Герои</a>
        <a href="#">Боевые действия</a>
        <a class="authorize-button">Авторизация</a>
    </div>
</header>
<h1 class="hello-message">Книга-мемориал</br>воинов-оренбуржцев</h1>
<form name="form" method="post">
    <input maxlength="55" class="global-input" name="search-data" type="search" placeholder="Найдите своего героя">
</form>
<h4>Или попробуйте <span><a href="{{ url_for('full_search') }}">расширенный поиск</a></span></h4>
<div class="persons">
    <h2>Герои Оренбуржья</h2>
    <div class="persons-photos">
        <div class="person">
        </div>
    </div>
</div>
<h3>Если вы являетесь близким родственником погибшего человека в боевых действиях, то вы можете направить уточненную
    информацию в виде электронного документа по адресу электронной почты: <span style="font-weight: bold;">office36@mail.orb.ru</span>
</h3>
<div class="mapa">

</div>
<footer>
    <img src="{{ url_for('static', filename='images/emblem.png') }}">
    <h1>КНИГА ПАМЯТИ</br> ОРЕНБУРГСКОЙ ОБЛАСТИ</h1>
    <div class="navbar-footer">
        <a>Герои</a>
        <a>Боевые действия</a>
        <a>Техническая поддержка</a>
        <a href="{{ url_for('contacts') }}">Контакты</a>
    </div>
    <h6>Любое использование материалов допускается только с согласия редакции. Все права на изображения и тексты
        принадлежат их авторам. © 2025. Все права защищены.</h6>
</footer>
</body>
<script>
    let resizeTimer;
window.addEventListener("resize",()=>{
  document.body.classList.add("resize-animation-stopper");
  clearTimeout(resizeTimer);
  resizeTimer =setTimeout(()=>{
    document.body.classList.remove("resize-animation-stopper");
  },400);
});
</script>
</html>